{% extends './common-frame.html' %}
{% load static %}

{% block styles %}
<link rel="stylesheet" href="{% static 'styles/add-settings.css' %}">
<link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.css" />
{% endblock %}

{% block main %}
<div class="row">
  <div class="col-12">
    <h1 class="text-center">開催場所/開催日時</h1>
  </div>
</div>
<div class="row">
  <div class="col-12">
    <form action="" method="POST">
      {% for field in form %}
        {{ field.as_hidden }}
      {% endfor %}

      <div class="form-group">
        <label>開催場所</label>
        <div id="type" class="border"></div>
      </div>
      <div class="form-group">
        <label>開催日時</label>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="hold-date">日付</span>
          </div>
          <input class="form-control" type="date" name="hold-date" aria-describedby="hold-date" required>
        </div>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="hold-time">時間</span>
            </div>
            <input class="form-control" type="time" name="hold-time" aria-describedby="hold-time" required>
          </div>
      </div>
      <button class="btn btn-primary" type="submit">送信</button>
      {% csrf_token %}
    </form>
  </div>
</div>
{% endblock %}

{% block scripts %}
<script src="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.js"></script>
<script src="{% static 'scripts/jquery.min.js' %}"></script>
<script src="{% static 'scripts/add-settings.js' %}"></script>
<script src="{% static 'scripts/add-settings.jquery.js' %}"></script>
{% endblock %}