<!DOCTYPE html>
<html lang="ja" dir="ltr">
	<head>
		<meta charset="utf-8">
		<title>Details</title>
	</head>
	<body>
		<h1>オフ会詳細</h1>
		<div class="table-responsive">
			<table class="table">
				<tbody>
					<!-- データはダミー -->
					<tr>
						<th>名称</th>
						<th>代々木ピクニックオフ</th>
					</tr>
					<tr>
						<th>開催地</th>
						<td>日本東京都江戸川区○○1-23-4</td>
					</tr>
					<tr>
						<th>日時</th>
						<td>2018年1月91日7時から</td>
					</tr>
					<tr>
						<th>カテゴリ</th>
						<td>政治・思想</td>
					</tr>
					<tr>
						<th>募集人数</th>
						<td>12人まで</td>
					</tr>
					<tr>
						<th>参加者名</th>
						<td>K.Mさん，F.Eさん，V.Lさん，J.V.Sさん，他7人</td>
					</tr>
					<tr>
						<th>備考</th>
						<td>素材として利用するため，各自空き瓶を持参してください．</td>
					</tr>
				</tbody>
			</table>
		</div>
		<p><ここにマップが入る></p>
	</body>
</html>
