<!DOCTYPE html>
<html lang="ja" dir="ltr">
<head>
	<meta charset="utf-8">
	<title>Details</title>
</head>
<body>
	{% if party %}
		<h1>オフ会詳細</h1>
		<div class="table-responsive">
			<table class="table">
				<tbody>
					<tr>
						<th>名称</th>
						<th>{{ party.title }}</th>
					</tr>
					<tr>
						<th>主催者</th>
						<th>{{ party.sponser.twitter_id }}</th> <!-- API 使って screen_name とかをとってきたい -->
					</tr>
					<tr>
						<th>開催地</th>
						<td>{{ party.location_lat }}</td> <!-- なんとかしましょう -->
					</tr>
					<tr>
						<th>日時</th>
						<td>{{ party.at_time}}</td>
					</tr>
					<tr>
						<th>カテゴリ</th>
						<td>政治・思想</td>
					</tr>
					<tr>
						<th>募集人数</th>
						<td>{{ party.capacity }}</td>
					</tr>
					<tr>
						<th>参加者名</th>
						<td>K.Mさん，F.Eさん，V.Lさん，J.V.Sさん，他7人</td>
					</tr>
					<tr>
						<th>備考</th>
						<td>{{ party.comment }}</td>
					</tr>
				</tbody>
			</table>
		</div>
		<p><ここにマップが入る></p>	
	{% else %}
		<p>オフ会が存在しません．</p>
	{% endif %}
</body>
</html>
