{% extends './common-frame.html' %}

<!DOCTYPE HTML>
<html>
<head>
</head>
  <body>
    {% block main %}
    {% block content %}
    <h1>オフ会の作成</h1>
    <form action="" method="POST">
      {% for field in form %}
      <div class="form-group">
          {{ field.errors }}
          {{ field.label_tag }} {{ field }}
          {% if field.help_text %}
          <p class="help">{{ field.help_text|safe }}</p>
          {% endif %}
      </div>
      {% endfor %}
    
    <button class="btn btn-primary" type="submit">送信</button>
    {% csrf_token %}
    </form>
    {% endblock %}
    {% endblock %}
  </body>
</html>
