{% extends './common-frame.html' %}

<!DOCTYPE html>
<html lang="ja" dir="ltr">
  <head>
    {% load static %}
    {% block styles %}
    <link rel="stylesheet" href="{% static 'styles/top.css' %}">
    <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.css" />
    {% endblock %}
  </head>
  <body>
    {% block main %}
    <p>
      <table>
        <tr><th>現在参加中のオフ会</th></tr>
        {% for party in parties %}
        <tr><td>{{ party.title }}</td></tr>
        {% endfor %}
      </table>
    </p>
    <button type="button" class="btn btn-primary" onclick="location.href='/list'">オフ会に参加</button>
    <button type="button" class="btn btn-primary" onclick="location.href='/offcreate'">オフ会を企画</button>
    {% endblock %}
  </body>
</html>
